.seccion-banner {
    background: url(/img/newsletter.jpg);
    height: 195px;
    width: 100%;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: none!important;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.newsletter{
    top: -10px;width: 271px;
    height: 42px;
    background-color: white;
    border-bottom:none;
    border-bottom: none;
    margin-left: 0%;
    border-radius: 3px;
    border: 1px solid #B0B0B0;
}


element.style {
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.tbanner{
	font-size: 35px;
	font-family: 'Asap';
	font-weight: bold;
	color: #FD3F72;
}

.tbanner2 p{
	color: #595959;
	font-family: 'Asap';
	font-size: 18px;
	position: relative;
    bottom: 14px;
}

.tbanner p{
	position: relative;
    top: 26px;
}

.boton2{
	height: 42px!important;
    width: 133px;
    top: 5px;
    right: 221px;
}


@media only screen and (max-width: 1100px){
.tbanner {
    font-size: 27px;
    }
.tbanner2 p {
    color: #595959;
    font-size: 15px;
}

.boton2 {
    top: -65px;
        right: 68%;
}

.newsletter{
    top: -10px;width: 100%;
    height: 42px;
    background-color: white;
    border-bottom:none;
    border-bottom: none;
    margin-left: 0%;
    border-radius: 3px;
    border: 1px solid #B0B0B0;
}
}


@media only screen and (max-width: 900px){
.boton2 {
    top: -65px;
    right: 330px;
}
    
}

@media only screen and (max-width: 900px){
.boton2 {
    top: -65px;
    right: 72%;
}

footer .linksb {
    font-family: 'Lato';
    padding-left: 0px;
    text-align: center;
}

footer .titulo-footer {
    font-family: 'Lato';   
    text-align: center;
    padding-left: 0px;
}

footer .linksb {
    font-family: 'Lato';
    padding-left: 0px;
    text-align: center;
}

footer .titulo-footer2 {
    font-family: 'Lato';   
    text-align: center;
    padding-left: 0px;
}

footer .titulo-footer3 {
    font-family: 'Lato';   
    text-align: center;
    padding-left: 0px;
}

footer .listlinks2 {
    font-family: 'Lato';
    padding-left: 0px;
    text-align: center;
}



}