body{
	background-color: ;
}

.container{
	width: 90%;
	max-width: 500px;
	padding: 20px 40px;
	border-radius: 3px;
	background: #ebebeb;
	border: 1px solid #FF0000;
}

main{
	padding-left: 0;
}

.input-field .prefix.active{
	color: #FF0000;
}

.input-field .prefix.visited{
	color: red;
}

.input-field .prefix{
	color: #FF0000;
}

.logo-login{
	width: 80%;
	margin: auto;
	padding: 30px;
}

.logo-login img{
	display: block;
	margin: auto;
}