.slider .indicators .indicator-item.active{
	background-color: rgba(201, 202, 201, 0.8)!important;
}

.slider .indicators .indicator-item {
    bottom: 60px;
    z-index: 7;
}

.slider .slides li img {
    height: 561px!important;
    width: 100%!important;
    background-size: cover;
    background-position: center;
}

.box-cap {
	position: absolute!important;
    top: 27%!important;
    left: 28%!important;
    background-color: rgba(255, 255, 255, 0.8);
    width: 596px!important;
    height: 231px;
    line-height: 250%; 
    color: #FF5F8A!important;
    text-align: center;
    font-family: 'Asap';
}

.slidertext1{
	    position: relative;
    top: 18px;
    left: -1%;
    line-height: 64px;
    font-family: 'Asap';
    font-size: 74px;
    font-weight: bold;
    padding: 1%;
}
.slidertext2{
	position: relative;
    top: 22px;
    padding: 10px!important;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 400;
    padding: 3%;
    color: #909090;
}

@media only screen and (max-width: 1025px){

.box-cap {
    position: absolute!important;
    top: 25%!important;
    left: 8%!important;
    background-color: rgba(255, 255, 255, 0.8);
    width: 84%!important;
    height: 231px;
    line-height: 250%;
    color: #FF5F8A!important;
    text-align: center;
    font-family: 'Asap';
}
}

@media only screen and (max-width: 993px){

.slider .slides li img {
    width: 100%!important;
}
.box-cap {
    position: absolute!important;
    top: 25%!important;
    left: 9%!important;
    background-color: rgba(255, 255, 255, 0.8);
    width: 84%!important;
    height: 231px;
    line-height: 250%;
    color: #FF5F8A!important;
    text-align: center;
    font-family: 'Asap';
}

.slidertext1 {
    position: relative;
    top: 30px;
    left: -1%;
    line-height: 29px;
    font-family: 'Asap';
    font-size: 58px;
    font-weight: bold;
    padding: 1%;
}

.slidertext2 {
    position: relative;
    top: 30px;
    padding: 10px!important;
    font-family: 'Lato';
    font-size: 43px;
    font-weight: 400;
    padding: 3%;
    color: #909090;
}
}

@media only screen and (max-width: 753px){
.slidertext2 {
    position: relative;
    top: 30px;
    padding: 10px!important;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 600;
    padding: 3%;
    color: #909090;
}
.slidertext1 {
    position: relative;
    top: 37px;
    left: -1%;
    line-height: 29px;
    font-family: 'Asap';
    font-size: 40px;
    font-weight: bold;
    padding: 1%;
}

}

@media only screen and (max-width: 503px){
    .slidertext1 {
        position: relative;
        top: 46px;
        left: -1%;
        line-height: 29px;
        font-family: 'Asap';
        font-size: 32px;
        font-weight: bold;
        padding: 1%;
    }

    
}