.page-footer {
    height: 360px;
    background-color: #F2F2F2!important;
}
footer .logfooter {
    
}
footer .titulo-footer {
    font-family: Arial;
    color: #B3004A;
    font-size: 17px;
    font-weight: bold;
    padding-left: 77px;
}
footer .links {
    padding-left: 78px;
}
footer .listlinks {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
}

footer .listlinks li{
	margin-bottom: 10px;
	font-family: Arial;
}

footer .row .col.l6 {
	width: 40%;
}

footer .footer-b a{
	position: relative;
	top: 3px;
	color: #595959!important;
}

footer .rightitems{
	position: relative;
	top: -4px;
	left: -14px!important;
}

footer .links2 {
    padding-left: 78px;
}
footer .listlinks2 {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
}

footer .rightlist{
	margin-bottom: 5px;
	font-family: Arial;
}

footer .item-redesf{
    display: inline;
    margin: 7px;
}

footer .li-redes-footer{

}

footer .footer-a{
    height: 80%;
}