.top {
    background-color: #FF5B88;
    height: 38px;
}
/*BUSCADOR*/

.dropdown-menu {
    right: 0% !important;
    left: -200% !important;
    background-color: #787950 !important;
}
header #buscador {
    float: right;
}
header #buscador input[type=search] {
    margin: 0px;
    width: 141px;
    height: 24px;
    color: black;
    cursor: pointer;
    background-color: #FFFFFF;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border-bottom: 0px;
    border-radius: 5px;
    margin-right: 10px;
}
/* FIN BUSCADOR */

header .list-top {
    margin: 0px -98px;
    margin-right: -18px;
}
header .li-icondistribuidor {
    position: relative;
    right: 90px;
    top: 5px;
    background-color: transparent;
    border-radius: 0px;
    float: right;
    height: 26px;
    width: 62px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    /* horizontal*/
    align-items: center;
    /*vertical*/
    border-right: 1px solid #ffffff;
}
header .li-distribuidor a {
    color: #FFFFFF;
    font-size: 16px;
}
header .li-distribuidor {
    position: relative;
    right: 48px;
    border-radius: 0px;
    float: right;
    height: 35px;
    width: 245px;
    font-family: 'Asap';
    font-weight: 600;
    display: flex;
    justify-content: center;
    /* horizontal*/
    align-items: center;
    /*vertical*/
}
header .li-presupuesto a {
    font-family: arial;
    color: #DDDDDD;
    font-size: 15px;
}
header .li-presupuesto {
    background-color: transparent;
    border-radius: 0px;
    float: right;
    height: 35px;
    width: 243px;
    display: flex;
    justify-content: center;
    /* horizontal*/
    align-items: center;
    /*vertical*/
    border-right: 2px solid #777777;
    border-left: 2px solid #777777;
}
header .li-redes a {
    font-family: arial;
    color: #DDDDDD;
    font-size: 16px;
    margin: 0px 11px;
}
header .li-redes {
    background-color: transparent;
    border-radius: 0px;
    float: left;
    color: white;
    position: relative;
    top: 4px;
    left: -30px;
    height: 35px;
    width: 145px;
    display: flex;
    justify-content: center;
    /* horizontal*/
    align-items: center;
    /*vertical*/
}
header .numero {
    position: relative;
    bottom: 0px;
    left: 5px;
}
header .li-red {
    background-color: transparent;
    border-radius: 0px;
    list-style: none;
    float: right;
    height: 37px;
    width: 35px;
    margin-right: -22px;
    display: flex;
    justify-content: center;
    /* horizontal*/
    align-items: center;
    /*vertical*/
}
header .principal {
    height: 190px!important;
    background-color: white;
    font-family: arial;
}
nav ul a {
    color: #7D0045!important;
    font-size: 16px!important;
    font-family: arial;
    margin: 0 12px;
    padding: 0!important;
}
nav .brand-logo {
    top: 58px;
    height: 113px!important;
}
nav ul a:hover {
    background-color: transparent!important;
    font-family: arial;
    margin: 0 12px;
    padding: 0!important;
    border-bottom: 3px solid #7D0045 !important;
}
.activo {
    background-color: transparent!important;
    font-family: arial;
    border-bottom: 3px solid #7D0045 !important;
}

nav .item-left a {
    color: #7D0045!important;
    font-size: 16px!important;
    font-family: arial;
    margin: 0 22px;
    padding: 0!important;
}

nav .item-left a:hover {
    color: #7D0045!important;
    font-size: 16px!important;
    font-family: arial;
    margin: 0 22px;
    padding: 0!important;
}
nav .item-left {
    position: relative;
    top:77px;
    left: 19px;
    width: 468px;
    font-size: 18px;
    font-family: 'Asap';
    font-weight: 600;
    line-height: 46px;
}
nav .item-right {
    position: relative;
    top:77px;
    right: 28px;
    font-size: 18px;
    word-spacing: 0px;
    font-family: 'Asap';
    font-weight: 600;
    line-height: 46px;
}
nav ul li {
    margin: 0px 5px;
}